.App {
  background-size: cover;
  background: rgb(250, 250, 250);
  /* background: linear-gradient(to top, rgb(0, 255, 42), rgb(0, 166, 255)); */
  /* background-repeat: no-repeat; */
  width: 100%;
}

input {
  border: 1px solid rgb(201, 201, 201);
  padding: 8px;
  border-radius: 5px;
  width: 100vh;
  height: 8vh;
}

input::hover {
  border: 1px solid cadetblue;
}

.card {
  cursor: pointer;
  border-color: blanchedalmond;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
